# Compiled artifacts
target/

# Environment variables
.env
.env.local

# Gramine files
rust-server.manifest
rust-server.manifest.sgx
*.sig

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage report
tarpaulin-report.html