# SPDX-License-Identifier: AGPL-3.0-or-later
# Copyright (C) 2026 Relational Network

[profile.default]
src = "src"
script = "script"
test = "test"
out = "out"
libs = ["lib"]
solc_version = "0.8.24"
optimizer = true
optimizer_runs = 200
evm_version = "paris"
remappings = ["@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/"]

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true