title: Relational Wallet Documentation
description: Developer, operator, and legal documents for the Relational Wallet.
theme: just-the-docs
repository: Relational-Network/relational-wallet

color_scheme: dark
favicon_ico: /favicon.ico

url: "https://relational-network.github.io"
baseurl: "/relational-wallet"

sass:
  quiet_deps: true
  silence_deprecations: ['import']

aux_links:
  "Relational Wallet on GitHub": "https://github.com/Relational-Network/relational-wallet"

plugins:
  - jekyll-seo-tag
  - jekyll-include-cache

exclude:
  # from https://github.com/jekyll/jekyll/blob/master/lib/site_template/_config.yml:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# From just-the-docs template documentation:
search_enabled: true
search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 2
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 3
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 3
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false
  # Focus the search input by pressing `ctrl + focus_shortcut_key` (or `cmd + focus_shortcut_key` on macOS)
  focus_shortcut_key: "k"

  enable_copy_code_button: true

footer_content: 'Copyright &copy; 2025 Relational.</a> Distributed by an <a href="https://github.com/Relational-Network/relational-wallet/blob/main/LICENSE">AGPL-3.0 license.</a>'
